#mySidenav{
    position: fixed;
    top: 0;
    left: 0;
    width: 180px; 
    height: 95%; 
    overflow-y: auto;
    padding-top: 60px;
}
#mySidenav a {
  /* z-index: 1000; */
    position: absolute;
    left: -150px;
    transition: 0.3s;
    padding: 15px;
    width: 125px;
    text-decoration: none;
    font-size: 20px;
    color: #0d0d0d;
    border-radius: 0 5px 5px 0;
    padding-right: 70px;
  }
  
  #mySidenav a:hover {
    left: 0px;
    padding:15px 25px;
  }
  
  #dashborad {
    bottom: 300px;
    background-color: #99eece;
  }
  
  #pen-order {
    bottom: 240px;
    background-color: #76d2ec;
  }
  
  #order-history {
    bottom: 180px;
    background-color: #ff1306;
  }
  
  #profile {
    bottom: 120px;
    background-color: #eaf217
  }

  #logout {
    bottom: 60px;
    background-color: #e4a8e1
  }