body{
  background-color: bisque;
}
.basket-container{
   display: flex;
   flex-direction: row;
   max-width: 1200px;
   padding: 20px;
   margin: auto;
}
.basket-item-container{
   flex:3;
   padding: 20px;
}
.basket-item-container-header{
}
.b-i-c-h2{
  margin: 0;
}
.b-i-c-p{
  margin: 0;
}

.basket-items{
}
.basket-items-header{
  display: flex;
  margin-top: 10px;
}
.b-i-h-1{
  flex: 1.5;
}
.b-i-h-2{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.basket-item-card{
 height: 110px;
 display: flex;
 background-color: rgb(247, 202, 143);
 padding: 10px;
 border-radius: 10px;
 margin-bottom: 10px;
}
.item-info-section{
flex: 1.5;
display: flex;
align-items: center;
}
.basket-card-img{
 flex: 0.5;
 height: 100%;
 border-radius: 10px;
 margin-right: 5px;
}
.basket-card-img img{
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.basket-card-description{
 flex: 1;
}

.item-taken-info{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.basket-quantity-btns{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.basket-quantity-btns button{
  background-color: rgb(212, 145, 69);
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin:7px;

}



.basket-items-calculations{
  flex: 1;
  padding: 20px;
}
.basket-calculation-card{
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}
.order-info{
}
.order-info h4{
  margin: 7px;
}
.calculation-details{
  margin-top: 25px;
  background-color: rgb(252, 229, 127);
  border-radius: 10px;
  padding: 10px;
}
.calculation-details h2{
  margin: 10px 0px;
}
.calculation-details p{
  margin: 10px 0px;
}
.calculation-details div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculation-details button{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border:none;
  outline: none;
  cursor: pointer;
  background-color: rgb(253, 173, 54);
}
h2{
  padding-left: 200px;
  padding-right: 20px;
}
.menu-add{
  display: flex;
}
.choose_file{
  width: 400px;
  height: 10px;
}
.update_food{
  display: flex;
  align-items: center;
  margin: 0 200px;
  height: 400px;
  /* padding: 0px 60px; */
  justify-content: space-between;
}
.update_food img{
  height: 230px;
  margin-left: 80px;
  
}
.update_food_form{ 
  padding: 10px;
  margin-left: 80px;
}
.update_food_form label {
  display: inline-block;
  width: 150px; 
  margin-right: 10px; 
  text-align: left; 
  font-size: 1.2rem;
  font-weight: 400;
}

.update_food_form input {
  display: inline-block;
  width: 300px; 
  margin-bottom: 10px; 
  border: 2px solid #542808;
  border-radius: 5px;
  background-color: #F8F4E1;
  color:#48250a ;
  height: 30px;
  font-size: 1rem;
}
.display{
  display: flex;
}
.form_picture{
  margin-right: 40px;
}
.form_picture input{
width: 300px;
}

h1{
  padding-left: 100px;
}
.food-form h1{
  padding-left: 200px;
}

@media (max-width: 600px) {
  .update_food {
    background-color: #48250a;
      width: 100%;
      margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  
}

@media (min-width: 900px) {

}

.footer{
  text-align: center;
  font-size: 0.9rem;
}