
.food-page-main{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
}

.food-page-content{
  flex: 1;
  padding: 10px;
}
.f-p-header-container{
  background-color: burlywood;
}
.f-p-header-section{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
}

.dropbtn {
  cursor: pointer;
  font-size: 1.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ded7d7;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: flex;
  text-decoration: none;
}

.dropdown a:hover {background-color: #cbbaba;}

.show {display: block;}

.search-food{
  border: 2px solid #f0cdcc;
  border-radius:6px 23px 3px 26px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #a37049;
  color: white;
  margin: 0;
}

.search-food i{
  padding: 0 7px 0 0;
}
.f-p-filter{
  display: flex;
}
.f-p-crnt-filter{
  margin-right: 5px;
}
.f-p-filters{
}
.f-p-header-search-bar{
  display: flex;
}

.f-p-search-bar{
border: 2px solid #803D3B;
padding: 5px 10px;
border-radius: 10px 20px;
}

.f-p-search-btn{

}

.f-p-foods-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8cb82;
  border-radius: 10px;
}

.food-page-side-panel{
  flex:0.4;
  padding: 10px;
}

.custom-order-card{
  background-color: #f8cb82;
  padding: 10px;
  border-radius: 10px;
}
.c-inp{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px 0px;
  border: 3px solid saddlebrown;
  outline: none;
  background-color:rgb(251, 241, 230);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}
.custom-order-btn{
  width: 100%;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
  border: 3px solid rgb(33, 23, 15);
  background-color: #803D3B;
  color: white;
  margin: 5px 0px;
  border-radius: 10px;
}
.custom-order-btn:hover{
  cursor: pointer;
  background-color:rgb(90, 29, 22) ;
}

.custom-order-list{
  background-color: #f8cb82;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.list-card{
  height: 15vh;
  background-color: #f9dfac;
  margin: 10px 0px;
  border-radius: 5px; 
}


/* custom order card*/

.custom-order-foodCard{
  padding: 10px;
  display: flex;
  height: 75px;
  background-color: #ebdfdf;
  border-radius: 10px;
  margin: 7px 0px;
  cursor: pointer;
  border: 3px solid saddlebrown;
}

.selected{
  background-color:#ebdfdf;
  padding:10px 15px;
  border-radius: 10px;
  border:3px solid saddlebrown;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.image-c-card{
  flex: 1;
}
.img-c-c{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.c-c-info{
  flex: 2;
  padding-left: 5px;
}
.selected p{
  margin:0;
}
.show{
  display: block;
}
.hide{
  display: none;
}

.custom-order-foodCard2{
  padding: 10px;
  display: flex;
  height: 100px;
  background-color: #ebdfdf;
  border-radius: 10px;
  margin: 7px 0px;
  cursor: pointer;
  border: 3px solid saddlebrown;
}